<h1>Cadastra Produtos</h1>
<form action="/retornocadproduto" method="POST">

    <label>Código:  </label>
    <input type="text" name="codigo"><br><br>
    
    <label>Descrição:  </label>
    <input type="text" name="descricao"><br><br>

    <label>Quantidade:</label>
    <input type="number" name="quantidade"><br><br>

    <label>Preço:  </label>
    <input type="text" name="preco"><br><br>

    <button type="submit"> Enviar</button>

</form>